body {
 max-width:750px;
 margin:40px auto;
 padding:0 10px;
 font:18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 color:#ccc;
 background:#222
}
h1,
h2,
h3 {
 line-height:1.2
}
a:link {
  color:#fb5
}
a:visited {
  color:#dc3
}
/* Image and caption */
img{
  width:750px;
  max-width:100%;
  padding:inherit;
} 
/* tables */
table { padding: 0; margin-left:auto; margin-right:auto } table tr { border-top: 1px solid #cccccc;
background-color: black; margin: 0; padding: 0; } table tr:nth-child(2n) {
background-color: #182828; } table tr th { font-weight: bold; border: 1px solid
  #cccccc; text-align: left; margin: 0; padding: 6px 13px; } table tr td {
  border: 1px solid #cccccc; text-align: left; margin: 0; padding: 6px 13px; }
  table tr th :first-child, table tr td :first-child { margin-top: 0; } table tr
  th :last-child, table tr td :last-child { margin-bottom: 0; }

@media (prefers-color-scheme: dark) {
 body {
  color:white;
  background:#444
 }
 a:link {
  color:#fb5
 }
 a:visited {
  color:#ccf
 }
}

/* for custom header numbering */ 

h1 { counter-reset: h2counter; }
h2 { counter-reset: h3counter; }
h3 { counter-reset: h4counter; }
h4 { counter-reset: h5counter; }
h5 { counter-reset: h6counter; }
h6 {}

h2:before {
    counter-increment: h2counter;
    content: counter(h2counter) ".\0000a0\0000a0";
}

h3:before {
    counter-increment: h3counter;
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
}

h4:before {
    counter-increment: h4counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
}

h5:before {
    counter-increment: h5counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".\0000a0\0000a0";
}

h6:before {
    counter-increment: h6counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "." counter(h6counter) ".\0000a0\0000a0";
}
